<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.diabfix.healthbook">

    <dist:module dist:instant="true" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:testOnly="false"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Diab-Fix"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.diabfix.healthbook.cereal"/>
        <activity android:name="com.diabfix.healthbook.product"/>
        <activity android:name="com.diabfix.healthbook.veggies2"/>
        <activity android:name="com.diabfix.healthbook.veggies3"/>
        <activity android:name="com.diabfix.healthbook.fruits" />
        <activity android:name="com.diabfix.healthbook.pulses"/>
        <activity android:name="com.diabfix.healthbook.veggies"/>
        <activity android:name="com.diabfix.healthbook.Copyright" />
        <activity android:name="com.diabfix.healthbook.AboutActivity" />
        <activity android:name="com.diabfix.healthbook.SlideActivity2" />
        <activity android:name="com.diabfix.healthbook.SlideActivity" />
        <activity android:name="com.diabfix.healthbook.obeseVeg" />
        <activity android:name="com.diabfix.healthbook.normalVeg" />
        <activity android:name="com.diabfix.healthbook.underweightVeg" />
        <activity android:name="com.diabfix.healthbook.VNSelector" />
        <activity android:name="com.diabfix.healthbook.NUOselector" />
        <activity android:name="com.diabfix.healthbook.obese" />
        <activity android:name="com.diabfix.healthbook.normal" />
        <activity android:name="com.diabfix.healthbook.underweight" />
        <activity android:name="com.diabfix.healthbook.bmi" />
        <activity android:name="com.diabfix.healthbook.MainActivity" />
        <activity
            android:name="com.diabfix.healthbook.SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>